:root{
    --text-color: white;
    --btn-text-color: white;
    --btn-background-color: rgb(12, 0, 66);
}

.h-100{
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

#container{
    height: 100vh;
    background-image: radial-gradient(grey,50%, black);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 0px;
}

@media(max-width:768px){
    #container{
        padding: 0px;
    }
}

#main-nav{
    width: 1260px;
    margin: 0 auto 20px;
    box-shadow: 2px 2px 10px 3px black;
}
#main-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#main-nav ul li{
    width: 100%;
    text-align: center;
}
#main-nav ul li a{
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: blue;
    transition-duration: 0.5s;
}
#main-nav ul li a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

@media(max-width: 768px){
    #main-nav{
        position: fixed;
        z-index: 100;
    }
    #main-nav ul li a span{
        display: none;
    }
}

.wrapper{
    background-image: url('../images/wrapper-img.jpg');
    margin: 0 auto;
    width: 1260px;
    height: calc(105vh - 200px);
    border-radius: 20px;
    box-shadow: -9px 9px 20px 2px rgb(69, 69, 69);
    position: relative;
}
/* BreakPoints
1400px - xxl
1200px - xl
992px - lg
768px - md
576px - sm */


.wrapper > .row{
    position: absolute;
    width: 100%;
    height: 100%;
}
@media (max-width:1400px){
    .wrapper, #main-nav{
        width: 1160px;
    }
}

@media (max-width:1200px){
    .wrapper, #main-nav{
        width: 970px;
    }
}
@media (max-width:992px){
    .wrapper, #main-nav{
        width: 760px;
    }
}
@media (max-width:768px){
    .wrapper, #main-nav{
        width: 100%;
    }
    .wrapper {
        height: 100%;
    }
    .wrapper > .row{
        position: static;
        width: 100%;
        height: auto;
    }
}



.intro{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    height: 100%;
    color: var(--text-color);
    background-color: rgb(47, 0, 255);
    display: flex;
    align-items: center; /* center the item vertically*/
}
.intro a{
    color: var(--text-color);
}
.intro ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
@media(max-width:768px){
    .intro{
        display: none;
    }
}

.content{
    position: relative;
    overflow-x: hidden;
    perspective: 400px;
}
.content >section{
    overflow-y: scroll;
}



@media(max-width:768px){
    .content{
        position: absolute;
        top: 0;
        width: 100%;
    }
}

#home{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* to center the coneten from left right*/
    transition-duration: 1s;
}
#home::-webkit-scrollbar {
    display: none;
}
#home h1{
    font-size: 5em;
    color: var(--text-color);
}
#home p{
    font-size: 2em;
    color: #95a7fec7;
}
#home img{
    display: none;
}

@media(max-width:768px){
    #home h1{
        font-size: 3em;
    }
    #home img{
        display: inline-block;
    }
}

#about, #skills, #projects, #contact{
    background-image: url('../images/wrapper-img.jpg');
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0px;
    width: 100%;
    padding: 50px;
    left: 0px;
    color: var(--text-color);
    transform: translateX(-100%);
    transition-duration: 1s;
}
#about h2, #skills h2, #projects h2, #contact h2{
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(255, 0, 0);
}
#about p{
    text-align: justify;
}
#about p span{
    color: aqua;
    font-weight: bold;
}
#about ul li{
    letter-spacing: 1px;
    line-height:2;
}
#about ul li span{
    color: aquamarine;
    font-weight: bold;
}

#about .icon{
    color: aquamarine;
    font-size: 2em;
}

#about h4{
    font-size: 1.2em;
}


@media(max-width:1200px){
    #about ul li{
        font-size: 0.9em;
    }
}



.timeline{
    position: relative;
}
.timeline .box{
    padding: 20px;
    color: blue;
    width: 50%;
    position: relative;
}
.timeline .box.left{
    padding-left: 0px;
    padding-bottom: 0;
}
.timeline .box .inner-box{
    border-radius: 10px;
    background-color:aquamarine;
    padding: 20px;
}
.timeline .box.right{
    left: 50%;
    padding-bottom: 10;
    position: relative ;
    padding-left: 25px;
}
.timeline .box::after{
    content: "";
    position: absolute;
    top: 40px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}
.timeline .box.left::after{
    right: -13px;
}
.timeline .box.right::after{
    left: -7px;
}

.timeline::after{
    content: "";
    height: 100%;
    position:absolute;
    border: 3px solid white;
    left: 50%;
    top: 0;
}

.timeline .box::before{
    content: "";
    position: absolute;
    z-index: 2;
    top: 22%;
    border: 10px solid;
}


.timeline .box.left::before{
    right: 0px;
    border-color: transparent transparent transparent white;
}
.timeline .box.right::before{
    left: 5px;
    border-color: transparent white transparent transparent;
}


.skillset ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.skillset ul li .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
}


.skillset ul li span{
    display: block;
    position: relative;
    height: inherit;
    width: inherit;
}
.skillset ul li .p-80{
    width: 80%;
}
.skillset ul li .p-70{
    width: 70%;
}
.skillset ul li .p-50{
    width: 50%;
}
.skillset ul li .p-90{
    width: 90%;
}
.skillset ul li .p-60{
    width: 60%;
}
.skillset ul li .p-95{
    width: 95%;
}

.skillset ul li span::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: blue;
    animation: progressbar 1s linear;
}

@keyframes progressbar{
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* Projects */
#projects .card{
    color: black;
    margin-bottom: 30px;
    overflow: hidden;
}

#projects .card img{
    transition-duration: 1s;
}
#projects .card:hover img{
    transform: scale(1.2 , 1.2);
}

#home.show,
#about.show,
#skills.show,
#projects.show,
#contact.show{
    transform: translateX(0%);
}

@media(max-width:768px){
#about, #skills, #projects, #contact{
    margin-top: 20px;
    }
.timeline .box.right{
    width: 57%;

}
}

#contact > ul li h4{
    color: aqua;
}

#contact > ul li{
    transition-duration: 0.5s;
    padding: 20px;
    border-radius: 10px;
}
#contact > ul li:hover{
    font-weight: bold;
    font-size: large;
    background-color: rgba(0, 0, 255, 0.3);
    box-shadow: white 0px 0px 10px;
}
#contact > ul li a p{
    color: white;
    padding-bottom: 40px;
}
#contact > ul li a p:hover{
    color: greenyellow;
}